{extend name="public/base"/}
{block name="body"}
<div id="myCarousel" class="carousel slide">
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active" style="background:#22251A">
			<img src="__IMG__/slidebar1.jpeg" alt="第一张">
		</div>
		<div class="item" style="background:#7F97BD;">
			<img src="__IMG__/slidebar2.jpeg" alt="第二张">
		</div>
		<div class="item" style="background:#111A23;">
			<img src="__IMG__/slidebar3.jpeg" alt="第三张">
		</div>
	</div>
	<a href="#myCarousel" data-slide="prev" class="carousel-control left">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a href="#myCarousel" data-slide="next" class="carousel-control right">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>

<div class="tab1">
	<div class="container">
		<div id="dt-center" class="clr">
			<div class="dt-block">
				<div class="pg-ttentry r">
					<a target="_blank" class="pg-blue-btn" href="/people/?user_id=1726490718#!favalbum">往期回顾 &gt;</a>
				</div>
				<h2>专辑精选</h2>
				<div class="dt-album oh">
					<div class="section" data-id="82749315">
						<div class="section-img">
							<img src="__PUBLIC__/images/demo.jpeg">
							<a target="_blank" class="dt-img-cover" href="/album/?id=82749315"></a>
						</div>
						<div class="section-desc">
							<a target="_blank" class="section-title" href="/album/?id=82749315">
								用好看的杯子，水都特别甜
							</a>
							<div class="section-attr">
								<p>
									86张图片 <b>·</b> 2131人收藏
								</p>
								<p>
									by <a target="_blank" class="dt-username" href="/people/?user_id=815677">下不了海的渔夫</a>
								</p>
							</div>
							<div class="section-bottom-a"></div>
							<div class="section-bottom-b"></div>
						</div>
					</div>
					<div class="section" data-id="82665263">
						<div class="section-img">
							<img src="__PUBLIC__/images/demo.jpeg">
							<a target="_blank" class="dt-img-cover" href="/album/?id=82665263"></a>
						</div>
						<div class="section-desc">
							<a target="_blank" class="section-title" href="/album/?id=82665263">
								sugar 胡小糖
							</a>
							<div class="section-attr">
								<p>
									20张图片 <b>·</b> 774人收藏
								</p>
								<p>
									by <a target="_blank" class="dt-username" href="/people/?user_id=12422444">七月火星人_</a>
								</p>
							</div>
							<div class="section-bottom-a"></div>
							<div class="section-bottom-b"></div>
						</div>
					</div>
					<div class="section" data-id="82687838">
						<div class="section-img">
							<img src="__PUBLIC__/images/demo.jpeg">
							<a target="_blank" class="dt-img-cover" href="/album/?id=82687838"></a>
						</div>
						<div class="section-desc">
							<a target="_blank" class="section-title" href="/album/?id=82687838">
								跟上春天的步伐
							</a>
							<div class="section-attr">
								<p>
									71张图片 <b>·</b> 1499人收藏
								</p>
								<p>
									by <a target="_blank" class="dt-username" href="/people/?user_id=84204">baozi</a>
								</p>
							</div>
							<div class="section-bottom-a"></div>
							<div class="section-bottom-b"></div>
						</div>
					</div>
					<div class="section" data-id="82662588">
						<div class="section-img">
							<img src="__PUBLIC__/images/demo.jpeg">
							<a target="_blank" class="dt-img-cover" href="/album/?id=82662588"></a>
						</div>
						<div class="section-desc">
							<a target="_blank" class="section-title" href="/album/?id=82662588">
								掐指一算，又到了该买本子的季节
							</a>
							<div class="section-attr">
								<p>
									85张图片 <b>·</b> 1846人收藏
								</p>
								<p>
									by <a target="_blank" class="dt-username" href="/people/?user_id=155429">cold</a>
								</p>
							</div>
							<div class="section-bottom-a"></div>
							<div class="section-bottom-b"></div>
						</div>
					</div>
					<div class="section" data-id="82662525">
						<div class="section-img">
							<img src="__PUBLIC__/images/demo.jpeg">
							<a target="_blank" class="dt-img-cover" href="/album/?id=82662525"></a>
						</div>
						<div class="section-desc">
							<a target="_blank" class="section-title" href="/album/?id=82662525">
								换上帆布鞋去踏青吧！
							</a>
							<div class="section-attr">
								<p>
									64张图片 <b>·</b> 1632人收藏
								</p>
								<p>
									by <a target="_blank" class="dt-username" href="/people/?user_id=116965">夏茵</a>
								</p>
							</div>
							<div class="section-bottom-a"></div>
							<div class="section-bottom-b"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="dt-block">
				<div class="pg-tmentry r pg-gray-link">
					<span>良品购：</span><a href="/shopping/?from=home" target="_blank">全部</a><a href="/shopping/?cat=1&amp;from=home" target="_blank">上衣</a><a href="/shopping/?cat=2&amp;from=home" target="_blank">裙裤</a><a href="/shopping/?cat=3&amp;from=home" target="_blank">配饰</a><a href="/shopping/?cat=4&amp;from=home" target="_blank">鞋子</a><a href="/shopping/?cat=5&amp;from=home" target="_blank">包袋</a><a href="/shopping/?cat=6&amp;from=home" target="_blank">日杂</a>
				</div>
				<h2>单品推荐<a href="/badge/category/user/?tag=全部" target="_blank" class="dt-sblnk"></a></h2>
				<div class="dt-woo-list oh">
					<div class="dt-woo-list-inner">
						<div class="dt-woo dt-woo-0">
							<a target="_blank" class="dt-woo-img">
								<img src="__PUBLIC__/images/demo.jpeg">
							</a>
							<a target="_blank" class="dt-img-cover" href="https://www.duitang.com/shopping/?cat=1&amp;sub=%E8%89%AF%E5%93%81%E8%B4%AD_%E9%A3%8E%E8%A1%A3"></a>
							<div class="dt-woo-desc">
								<p class="dt-woo-title">
									<a target="_blank" href="https://www.duitang.com/shopping/?cat=1&amp;sub=%E8%89%AF%E5%93%81%E8%B4%AD_%E9%A3%8E%E8%A1%A3">风衣</a>
								</p>
								<p class="dt-woo-attr">
									18336人在逛
								</p>
								<a target="_blank" href="/shopping/?from=home" class="dt-woo-cat">
									良品购
								</a>
							</div>
						</div>
						<div class="dt-woo dt-woo-1">
							<a target="_blank" class="dt-woo-img">
								<img src="__PUBLIC__/images/demo.jpeg">
							</a>
							<a target="_blank" class="dt-img-cover" href="https://www.duitang.com/shopping/?cat=2&amp;sub=%E8%89%AF%E5%93%81%E8%B4%AD_%E9%95%BF%E8%A3%99"></a>
							<div class="dt-woo-desc">
								<p class="dt-woo-title">
									<a target="_blank" href="https://www.duitang.com/shopping/?cat=2&amp;sub=%E8%89%AF%E5%93%81%E8%B4%AD_%E9%95%BF%E8%A3%99">长裙</a>
								</p>
								<p class="dt-woo-attr">
									18570人在逛
								</p>
								<a target="_blank" href="/shopping/?from=home" class="dt-woo-cat">
									良品购
								</a>
							</div>
						</div>
						<div class="dt-woo dt-woo-2">
							<a target="_blank" class="dt-woo-img">
								<img src="__PUBLIC__/images/demo.jpeg">
							</a>
							<a target="_blank" class="dt-img-cover" href="https://www.duitang.com/shopping/?cat=6&amp;sub=%E8%89%AF%E5%93%81%E8%B4%AD_%E8%A2%9C%E5%AD%90"></a>
							<div class="dt-woo-desc">
								<p class="dt-woo-title">
									<a target="_blank" href="https://www.duitang.com/shopping/?cat=6&amp;sub=%E8%89%AF%E5%93%81%E8%B4%AD_%E8%A2%9C%E5%AD%90">堆堆袜</a>
								</p>
								<p class="dt-woo-attr">
									18513人在逛
								</p>
								<a target="_blank" href="/shopping/?from=home" class="dt-woo-cat">
									良品购
								</a>
							</div>
						</div>
						<div class="dt-woo dt-woo-3">
							<a target="_blank" class="dt-woo-img">
								<img src="__PUBLIC__/images/demo.jpeg">
							</a>
							<a target="_blank" class="dt-img-cover" href="https://www.duitang.com/shopping/?cat=6&amp;sub=%E8%89%AF%E5%93%81%E8%B4%AD_%E5%8E%A8%E6%88%BF%E5%99%A8%E5%85%B7"></a>
							<div class="dt-woo-desc">
								<p class="dt-woo-title">
									<a target="_blank" href="https://www.duitang.com/shopping/?cat=6&amp;sub=%E8%89%AF%E5%93%81%E8%B4%AD_%E5%8E%A8%E6%88%BF%E5%99%A8%E5%85%B7">茶袋夹</a>
								</p>
								<p class="dt-woo-attr">
									18453人在逛
								</p>
								<a target="_blank" href="/shopping/?from=home" class="dt-woo-cat">
									良品购
								</a>
							</div>
						</div>
						<div class="dt-woo dt-woo-4">
							<a target="_blank" class="dt-woo-img">
								<img src="__PUBLIC__/images/demo.jpeg">
							</a>
							<a target="_blank" class="dt-img-cover" href="https://www.duitang.com/shopping/?cat=6&amp;sub=%E8%89%AF%E5%93%81%E8%B4%AD_%E9%9B%A8%E5%85%B7"></a>
							<div class="dt-woo-desc">
								<p class="dt-woo-title">
									<a target="_blank" href="https://www.duitang.com/shopping/?cat=6&amp;sub=%E8%89%AF%E5%93%81%E8%B4%AD_%E9%9B%A8%E5%85%B7">晴雨伞</a>
								</p>
								<p class="dt-woo-attr">
									18488人在逛
								</p>
								<a target="_blank" href="/shopping/?from=home" class="dt-woo-cat">
									良品购
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
{/block}

{block name="script"}
<script type="text/javascript">
	//轮播自动播放
	$('#myCarousel').carousel({
		//自动4秒播放
		interval : 3000,
	});

	//设置文字垂直居中，谷歌浏览器加载图片的顺序问题，导致高度无法获取
	$(window).load(function () {
		$('.text').eq(0).css('margin-top', ($('.auto').eq(0).height() - $('.text').eq(0).height()) / 2 + 'px');
	});
	

	$(window).resize(function () {
		$('.text').eq(0).css('margin-top', ($('.auto').eq(0).height() - $('.text').eq(0).height()) / 2 + 'px');
	});

	$(window).load(function () {
		$('.text').eq(1).css('margin-top', ($('.auto').eq(1).height() - $('.text').eq(1).height()) / 2 + 'px');
	});

	$(window).resize(function () {
		$('.text').eq(1).css('margin-top', ($('.auto').eq(1).height() - $('.text').eq(1).height()) / 2 + 'px');
	});
</script>
{/block}